
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* full-width header bar */
.top {
  width: 100%; 
  padding: 10px 0;
  box-shadow: 0 0 5px rgb(0,0,0);
}

.top-container {
  max-width: 100em;
  margin: auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top h1 {
  margin: 0;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-buttons button {
    border: none;
    border-radius: 30px;
    box-shadow: 0 1px 1px #000000;
    padding: 5px 10px;
    font-size: 16px;
    transition: border-radius 0.3s ease;
}
.auth-buttons button:hover{
    cursor: pointer;
    box-shadow: 0 2px 4px #000000;
}